extends ../layout

block content 
  a(href="/bicicletas/create" class="btn btn-success") Nueva Bicicleta
  |&nbsp;
  a(href="/" class="btn btn-link") Volver
  br
  br
  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') Color
        th(scope='col') Modelo
        th(scope='col') Ubicación
        th(scope='col') 
        th(scope='col') 
        th(scope='col') 
    tbody
      each bici in bicis
        tr
          th(scope='row')= bici.code
          td= bici.color
          td= bici.modelo
          td= bici.ubicacion
          td
            a(href=`/bicicletas/${ bici.code }/show` class="btn btn-info") Mostrar
          td 
            a(href=`/bicicletas/${ bici.code }/update` class="btn btn-primary") Editar
          td
            form.inline(action=`/bicicletas/${ bici.code }/delete` method="post")
              input(type="hidden" name="code" value=bici.code)
              button.link-button(type="submit" name="submit_param" value="submit_value" class="btn btn-danger")= "Eliminar"

